{%load static %}
<section data-bs-version="5.1" class="menu menu2 cid-sFCw1qGFAI" once="menu" id="menu2-23">
    <nav class="navbar navbar-dropdown navbar-expand-lg">
        <div class="container">
            <div class="navbar-brand">
                <span class="navbar-caption-wrap">
                    <a class="navbar-caption text-black display-7" href="{%url 'index' %}">
                        <img src="{%static 'media/logo_no_text.svg' %}" style="width:120px; height:auto;" />
                    </a>
                </span>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-bs-toggle="collapse"
                data-target="#navbarSupportedContent" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <div class="hamburger">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav nav-dropdown" data-app-modern-menu="true">
                    <li class="nav-item">
                        <a class="nav-link link text-black text-primary display-4" href="{%url 'index' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link link text-black text-primary display-4" href="{%url 'fideo' %}">FIDEO</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link link text-black text-primary display-4"
                            href="{%url 'risk_analysis_view' %}">Risikoanalyse</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link link text-black text-primary display-4" href="{%url 'aboutUs' %}">About</a>
                    </li>
                </ul>
                <!-- <div class="navbar-buttons mbr-section-btn">
                    <a class="btn btn-primary display-4" href="">Login</a>
                </div> -->
            </div>
        </div>
    </nav>
</section>