.full-div{
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 1em;
}

.row-2{
    border: 1px solid green;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em 2em;
    flex: 0 0 ;

}

.card-container{
    border: 1px solid red;
    margin: 0.5em 1em;
    padding: 1em;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.1);
}