<!DOCTYPE html>
<html lang="en">

<head>
    <meta lang="en" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
    <meta name="description" />

    <title>FID€O</title>
    <link rel="shortcut icon" href="../static/images/logo.png" type="image/x-icon" />
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../static/css/bootstrap-grid.min.css" />
    <link rel="stylesheet" href="../static/css/bootstrap-reboot.min.css" />
    <link rel="stylesheet" href="../static/css/dropdown-style.css" />
    <link rel="stylesheet" href="../static/css/socicon-styles.css" /> <!-- style for social media icons-->
    <link rel="stylesheet" href="../static/css/icons2-style.css" /> <!-- style for other icons-->
    <link rel="stylesheet" href="../static/css/theme-style.css" />
    <link rel="stylesheet" href="../static/css/login-window.css" />
    <link rel="preload"
        href="https://fonts.googleapis.com/css?family=Jost:100,200,300,400,500,600,700,800,900,100i,200i,300i,400i,500i,600i,700i,800i,900i&display=swap"
        as="style" onload="this.onload=null;this.rel='stylesheet'" />
    <noscript>
        <link rel="stylesheet"
            href="https://fonts.googleapis.com/css?family=Jost:100,200,300,400,500,600,700,800,900,100i,200i,300i,400i,500i,600i,700i,800i,900i&display=swap" />
    </noscript>
    <link rel="stylesheet" href="../static/css/style.css" type="text/css" />
    <link rel="icon" href="../static/images/logo_icon_white.svg" />
</head>

<body>
    {%include "header.html" %}
    {% block content %}

    {% endblock %}
    {%include "footer.html" %}

</body>

</html>