{% extends 'base.html' %}
{% load static %}
{% load multifor %}
{% block content%}

<style>
    @media only screen and (min-width: 768px) {
        .list-item {
            display: none;
        }
    }

    /* Anzeige für Mobilgeräte */
    @media only screen and (max-width: 767px) {
        .list-item {
            display: block;
        }
    }
</style>

<section class="cid-sFzFvgBfc0">
    <div class="container">
        <div class="sctn-heading">
            <h4 class="align-center mb-5 display-2">
                <strong>Most Popular Shares</strong>
            </h4>
        </div>
        <div class="row mt-4">
            {% for popular_share in popular_shares; share_plot in popular_shares_plots %}
            <div class="item features-image сol-12 col-md-6 col-lg-4">
                <div class="item-wrapper">
                    <div class="item-img">
                        {{share_plot | safe}}
                    </div>
                    <div class="item-content">
                        <h5 class="display-5">
                            <strong>{{popular_share.share_name}}</strong>
                        </h5>
                    </div>
                    <div class="mbr-section-btn item-footer mt-2">
                        <a href="#{{popular_share.share_tag}}" class="btn btn-primary display-4">More information</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

<section class="cid-sFzFvgBfc0">
    <div class="container">
        <div class="sctn-heading">
            <h4 class="align-center mb-5 display-2">
                <strong>All Available Shares</strong>
            </h4>
        </div>
        <div class="row mt-4">
            {% for share in shares ; plot in share_plots %}
            <div class="item features-image col-12 col-lg-6" id="{{share.share_tag}}">
                <div class="item-wrapper">
                    {{plot | safe}}
                    <div class="item-img">
                    </div>
                    <div class="item-content">
                        <h5 class="display-5">
                            <strong>{{share.share_name}}</strong>
                        </h5>
                        <ul class="display-7">
                            <li> Last Share Price: <strong>{{share.last_share_price}} $</strong></li>
                            <li> Market capitalization: {{share.share_market_cap}} $</li>
                            <li> Share Volume: {{share.share_volume}} $</li>
                            <li> Sector: {{share.share_sector}} </li>
                            <li> Ticker: {{share.share_tag}}</li>
                            {% if share.risk_level == 0 %}
                            <li class="list-item"> Trend: &nearr;</li>
                            {% elif share.risk_level == 1%}
                            <li class="list-item"> Trend: &rarr;</li>
                            {% else %}
                            <li class="list-item"> Trend: &searr;</li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

</section>



{% endblock %}