{% extends 'base.html' %}
{% block content%}
<section class="cid-sFzFvgBfc0">
  <div class="container">
    <div class="sctn-heading">
      <h4 class="align-center mb-5 display-2">
        <strong>Most Popular Shares</strong>
      </h4>
    </div>
    <div class="row mt-4">
      <div class="item features-image сol-12 col-md-6 col-lg-4">
        <div class="item-wrapper">
          <div class="item-img">
            {{plot_div}}
          </div>
          <div class="item-content">
            <h5 class="display-5">
              <strong>Share 1</strong>
            </h5>
            <p class="mt-3 display-7">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aperiam nisi non neque assumenda at voluptate,
              rem..
            </p>
          </div>
          <div class="mbr-section-btn item-footer mt-2">
            <a href="#divOne" class="btn btn-primary display-4">More information</a>
            <a class=" btn add-btn" target="_blank">+</a>
          </div>
        </div>
      </div>
      <div class="item features-image сol-12 col-md-6 col-lg-4">
        <div class="item-wrapper">
          <div class="item-img">
            <img src="../static/images/share.png" alt="#" />
          </div>
          <div class="item-content">
            <h5 class="display-5">
              <strong>Share 2</strong>
            </h5>

            <p class="mt-3 display-7">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aperiam nisi non neque assumenda at voluptate,
              rem..
            </p>
          </div>
          <div class="mbr-section-btn item-footer mt-2">
            <a href="#divTwo" class="btn btn-primary display-4">More information</a>
            <a class="btn add-btn" target="_blank">+</a>
          </div>
        </div>
      </div>
      <div class="item features-image сol-12 col-md-6 col-lg-4">
        <div class="item-wrapper">
          <div class="item-img">
            <img src="../static/images/share.png" alt="#" />
          </div>
          <div class="item-content">
            <h5 class="display-5">
              <strong>Share 3</strong>
            </h5>

            <p class="mt-3 display-7">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aperiam nisi non neque assumenda at voluptate,
              rem..
            </p>
          </div>
          <div class="mbr-section-btn item-footer mt-2">
            <a href="#divThree" class="btn btn-primary display-4">More information</a>
            <a class="btn add-btn" target="_blank">+</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="pp-window">
  <div class="overlay" id="divOne"> <!--first popup window-->
    <div class="wrapper">
      <h5 class="display-5 align-center">
        <strong>Share 1</strong>
      </h5>
      <a href="#" class="close">&times;</a>
      <div class="share-image"> <!-- container for share visualiztaion-->
        <p>IMAGE</p>
      </div>
      <p class="mt-3 display-7">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque eligendi temporibus est? Praesentium numquam
        alias quae necessitatibus magnam error distinctio inventore dicta nisi nemo saepe, aliquam unde sequi dolorum
        odio!
      </p>
      <div class="mbr-section-btn item-footer mt-2">
        <a class="btn add-btn display-7">Add to Watchlist</a>
      </div>
    </div>
  </div>
  <div class="overlay" id="divTwo"> <!--first popup window-->
    <div class="wrapper">
      <h5 class="display-5 align-center">
        <strong>Share 2</strong>
      </h5>
      <a href="#" class="close">&times;</a>
      <div class=""> <!-- container for share visualiztaion-->
        <p>IMAGE</p>
      </div>
      <p class="mt-3 display-7">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque eligendi temporibus est? Praesentium numquam
        alias quae necessitatibus magnam error distinctio inventore dicta nisi nemo saepe, aliquam unde sequi dolorum
        odio!
      </p>
      <div class="mbr-section-btn item-footer mt-2">
        <a class="btn add-btn display-7">Add to Watchlist</a>
      </div>
    </div>
  </div>
  <div class="overlay" id="divThree"> <!--first popup window-->
    <div class="wrapper">
      <h5 class="display-5 align-center">
        <strong>Share 3</strong>
      </h5>
      <a href="#" class="close">&times;</a>
      <div class=""> <!-- container for share visualiztaion-->
        <p>IMAGE</p>
      </div>
      <p class="mt-3 display-7">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque eligendi temporibus est? Praesentium numquam
        alias quae necessitatibus magnam error distinctio inventore dicta nisi nemo saepe, aliquam unde sequi dolorum
        odio!
      </p>
      <div class="mbr-section-btn item-footer mt-2">
        <a class="btn add-btn display-7">Add to Watchlist</a>
      </div>
    </div>
  </div>
</section>
{%endblock%}