<section class="footer3 cid-sFCygHrmNf" once="footers">
    <div class="container">
        <div class="row align-center mbr-white">
            <div class="row row-links">
                <ul class="foot-menu">
                    <li class="display-7">
                        <a href="{%url 'index' %}" class="text-white">Home</a>
                    </li>
                    <li class="display-7">
                        <a href="{%url 'aboutUs' %}" class="text-white">About Us</a>
                    </li>
                    <li class="display-7">
                        <a href="{%url 'impressum' %}" class="text-white" target="_blank">Impressum</a>
                    </li>
                </ul>
            </div>
            <div class="row social-row">
                <div class="social-list align-right pb-2">
                    <div class="soc-item">
                        <a href="https://twitter.com/elonmusk?t=ttXDPbL_0MuNpcdoPZypqQ&s=09" target="_blank">
                            <span class="socicon-twitter socicon mbr-iconfont mbr-iconfont-social"></span>
                        </a>
                    </div>
                    <div class="soc-item">
                        <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ?autoplay=1" target="_blank">
                            <span class="socicon-facebook socicon mbr-iconfont mbr-iconfont-social"></span>
                        </a>
                    </div>
                    <div class="soc-item">
                        <a href="https://instagram.com/thelabs_and_wienerdogs?igshid=YmMyMTA2M2Y=" target="_blank">
                            <span class="socicon-instagram socicon mbr-iconfont mbr-iconfont-social"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="../static/js/bootstrap.bundle.min.js"></script>
<script src="../static/js/smooth-scroll.js"></script>
<script src="../static/js/navbar-dropdown.js"></script>
<script src="../static/js/social-likes.js"></script>
<script src="../static/js/script.js"></script>
<script src="../static/js/formoid.min.js"></script>