<!DOCTYPE html>
<html lang="en">

<head>
  <meta lang="en" />
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
  <meta name="description" content="" />

  <title>Impressum</title>
  <link rel="shortcut icon" href="../static/images/logo.png" type="image/x-icon" />
  <link rel="stylesheet" href="../static/css/bootstrap.min.css" />
  <link rel="stylesheet" href="../static/css/bootstrap-grid.min.css" />
  <link rel="stylesheet" href="../static/css/bootstrap-reboot.min.css" />
  <link rel="stylesheet" href="../static/css/dropdown-style.css" />
  <link rel="stylesheet" href="../static/css/socicon-styles.css" /> <!-- style for social media icons-->
  <link rel="stylesheet" href="../static/css/icons2-style.css" /> <!-- style for other icons-->
  <link rel="stylesheet" href="../static/css/theme-style.css" />
  <link rel="stylesheet" href="../static/css/popup.css" />
  <link rel="stylesheet" href="../static/css/login-window.css" />
  <link rel="preload"
    href="https://fonts.googleapis.com/css?family=Jost:100,200,300,400,500,600,700,800,900,100i,200i,300i,400i,500i,600i,700i,800i,900i&display=swap"
    as="style" onload="this.onload=null;this.rel='stylesheet'" />
  <noscript>
    <link rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Jost:100,200,300,400,500,600,700,800,900,100i,200i,300i,400i,500i,600i,700i,800i,900i&display=swap" />
  </noscript>
  <link rel="stylesheet" href="../static/css/style.css" type="text/css" />
  <link rel="icon" href="../static/images/logo_icon_white.svg" />
</head>

<body>
  <section class="menu menu2 cid-sFCw1qGFAI" once="menu">
    <nav class="navbar navbar-dropdown navbar-expand-lg">
      <div class="container">
        <div class="navbar-brand">
          <span class="navbar-caption-wrap">
            <a class="navbar-caption text-black display-7" href="{%url 'index' %}"><img
                src="../../static/images/logo_no_text.svg" style="width: 120px; height:auto;" /></a>
          </span>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav nav-dropdown" data-app-modern-menu="true">
            <li class="nav-item">
              <a class="nav-link link text-black text-primary display-4" href="{%url 'index' %}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link link text-black text-primary display-4" href="{%url 'fideo' %}">FIDEO</a>
            </li>
            <li class="nav-item">
              <a class="nav-link link text-black text-primary display-4" href="#">Mein Portfolio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link link text-black text-primary display-4" href="{%url 'aboutUs' %}">About Us</a>
            </li>
          </ul>

          <div class="navbar-buttons mbr-section-btn">
            <a class="btn btn-primary display-4" href="{%url 'login' %}">Login</a>
          </div>
        </div>
      </div>
    </nav>
  </section>

  <section class="features1 cid-sFzyUE9AaP">
    <div class="container-fluid">
      <div class="row">
        <h3 class="display-2">
          <strong>IMPRESSUM</strong>
        </h3>
      </div>
      <div class="row info-sec-one" style="border: 1px solid black;">
        <h5 class="display-7">
          <u>Angaben gem. § 5 TMG:</u>
        </h5>
        <p class="display-7">
          Adrian Setz (CEO)<br>
          SoftwareExellence<br>
          O4 4<br>
          68161 Mannheim
        </p>
        <h5 class="display-7">
          <u>Kontaktaufnahme:</u>
        </h5>
        <p class="display-7">
          Telefon: 0176 82686544<br>
          E-Mail: fideo@softwareexellence.de</p>
        <h5 class="display-7">
          <strong>Umsatzsteuer-ID</strong>
        </h5>
        <p class="display-7">
          <u>Umsatzsteuer-Identifikationsnummer gem. § 27 a Umsatzsteuergesetz:</u>
          <br>
          DE 123 187 420
          <br>
        </p>
        <h5 class="display-7">
          <strong>Haftungsausschluss – Disclaimer:</strong>
        </h5>
        <p class="display-7">
          <u>Haftung für Inhalte</u>
          <br>
          Alle Inhalte unseres Internetauftritts wurden mit größter Sorgfalt und nach bestem Gewissen erstellt. Für die
          Richtigkeit, Vollständigkeit und Aktualität der Inhalte können wir jedoch keine Gewähr übernehmen. Als
          Diensteanbieter sind wir gemäß § 7 Abs.1 TMG für eigene Inhalte auf diesen Seiten nach den allgemeinen
          Gesetzen verantwortlich. Nach §§ 8 bis 10 TMG sind wir als Diensteanbieter jedoch nicht verpflichtet,
          übermittelte oder gespeicherte fremde Informationen zu überwachen oder nach Umständen zu forschen, die auf
          eine rechtswidrige Tätigkeit hinweisen. Verpflichtungen zur Entfernung oder Sperrung der Nutzung von
          Informationen nach den allgemeinen Gesetzen bleiben hiervon unberührt.
          Eine diesbezügliche Haftung ist jedoch erst ab dem Zeitpunkt der Kenntniserlangung einer konkreten
          Rechtsverletzung möglich. Bei Bekanntwerden von den o.g. Rechtsverletzungen werden wir diese Inhalte
          unverzüglich entfernen.
          <br>
          <u>Haftungsbeschränkung für externe Links</u>
          <br>
          Unsere Webseite enthält Links auf externe Webseiten Dritter. Auf die Inhalte dieser direkt oder indirekt
          verlinkten Webseiten haben wir keinen Einfluss. Daher können wir für die „externen Links“ auch keine Gewähr
          auf Richtigkeit der Inhalte übernehmen. Für die Inhalte der externen Links sind die jeweilige Anbieter oder
          Betreiber (Urheber) der Seiten verantwortlich.
          Die externen Links wurden zum Zeitpunkt der Linksetzung auf eventuelle Rechtsverstöße überprüft und waren im
          Zeitpunkt der Linksetzung frei von rechtswidrigen Inhalten. Eine ständige inhaltliche Überprüfung der externen
          Links ist ohne konkrete Anhaltspunkte einer Rechtsverletzung nicht möglich. Bei direkten oder indirekten
          Verlinkungen auf die Webseiten Dritter, die außerhalb unseres Verantwortungsbereichs liegen, würde eine
          Haftungsverpflichtung ausschließlich in dem Fall nur bestehen, wenn wir von den Inhalten Kenntnis erlangen und
          es uns technisch möglich und zumutbar wäre, die Nutzung im Falle rechtswidriger Inhalte zu verhindern.
          Diese Haftungsausschlusserklärung gilt auch innerhalb des eigenen Internetauftrittes https://fideo.de
          gesetzten Links und Verweise von Fragestellern, Blogeinträgern, Gästen des Diskussionsforums. Für illegale,
          fehlerhafte oder unvollständige Inhalte und insbesondere für Schäden, die aus der Nutzung oder Nichtnutzung
          solcherart dargestellten Informationen entstehen, haftet allein der Diensteanbieter der Seite, auf welche
          verwiesen wurde, nicht derjenige, der über Links auf die jeweilige Veröffentlichung lediglich verweist.
          Werden uns Rechtsverletzungen bekannt, werden die externen Links durch uns unverzüglich entfernt.
          <br>
          <u>Urheberrecht</u>
          <br>
          Die auf unserer Webseite veröffentlichen Inhalte und Werke unterliegen dem deutschen Urheberrecht
          (http://www.gesetze-im-internet.de/bundesrecht/urhg/gesamt.pdf).
          Die Vervielfältigung, Bearbeitung, Verbreitung und jede Art der Verwertung des geistigen Eigentums in ideeller
          und materieller Sicht des Urhebers außerhalb der Grenzen des Urheberrechtes bedürfen
          der vorherigen schriftlichen Zustimmung des jeweiligen Urhebers i.S.d. Urhebergesetzes
          (http://www.gesetze-im-internet.de/bundesrecht/urhg/gesamt.pdf). Downloads und Kopien dieser Seite sind nur
          für
          den privaten und nicht kommerziellen Gebrauch erlaubt. Sind die Inhalte auf unserer Webseite nicht von uns
          erstellt wurden, sind die Urheberrechte Dritter zu beachten.
          Die Inhalte Dritter werden als solche kenntlich gemacht. Sollten Sie trotzdem auf eine Urheberrechtsverletzung
          aufmerksam werden, bitten wir um einen entsprechenden Hinweis.
          Bei Bekanntwerden von Rechtsverletzungen werden wir derartige Inhalte unverzüglich entfernen.
          <br>
        </p>
      </div>
  </section>

  <section class="footer3 cid-sFCygHrmNf" once="footers">
    <div class="container">
      <div class="row align-center mbr-white">
        <div class="row row-links">
          <ul class="foot-menu">
            <li class="display-7">
              <a href="{%url 'index' %}" class="text-white">Home</a>
            </li>
            <li class="display-7">
              <a href="{%url 'aboutUs' %}" class="text-white">About Us</a>
            </li>
            <li class="display-7">
              <a href="#" class="text-white">Mein Portfolio</a>
            </li>
            <li class="display-7">
              <a href="{%url 'impressum' %}" class="text-white" target="_blank">Impressum</a>
            </li>
          </ul>
        </div>
        <div class="row social-row">
          <div class="social-list align-right pb-2">
            <div class="soc-item">
              <a href="https://twitter.com/elonmusk?t=ttXDPbL_0MuNpcdoPZypqQ&s=09" target="_blank">
                <span class="socicon-twitter socicon mbr-iconfont mbr-iconfont-social"></span>
              </a>
            </div>
            <div class="soc-item">
              <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ?autoplay=1" target="_blank">
                <span class="socicon-facebook socicon mbr-iconfont mbr-iconfont-social"></span>
              </a>
            </div>
            <div class="soc-item">
              <a href="https://instagram.com/thelabs_and_wienerdogs?igshid=YmMyMTA2M2Y=" target="_blank">
                <span class="socicon-instagram socicon mbr-iconfont mbr-iconfont-social"></span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <script src="../static/js/bootstrap.bundle.min.js"></script>
  <script src="../static/js/smooth-scroll.js"></script>
  <script src="../static/js/navbar-dropdown.js"></script>
  <script src="../static/js/social-likes.js"></script>
  <script src="../static/js/script.js"></script>
  <script src="../static/js/formoid.min.js"></script>

</body>

</html>