<!DOCTYPE html>
<html>
  <head>
    <meta lang="en" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1"/>
    <link rel="shortcut icon" href="../static/images/logo.png" type="image/x-icon"/>
    <meta name="description" />

    <title>Home</title>
    <link rel="stylesheet" href="../static/web/assets/icons2/style.css" /> <!-- style for other icons-->
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap-grid.min.css" />
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap-reboot.min.css" />
    <link rel="stylesheet" href="../static/dropdown/css/style.css" />
    <link rel="stylesheet" href="../static/socicon/css/styles.css" /> <!-- style for social media icons-->
    <link rel="stylesheet" href="../static/theme/css/style.css" />
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Jost:100,200,300,400,500,600,700,800,900,100i,200i,300i,400i,500i,600i,700i,800i,900i&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'" />
    <noscript ><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Jost:100,200,300,400,500,600,700,800,900,100i,200i,300i,400i,500i,600i,700i,800i,900i&display=swap" /></noscript>
    <link rel="stylesheet" href="../static/styles/css/style.css" type="text/css" />
    <link rel="icon" href="../static/images/logo_icon_white.svg">
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <script>
      $(function() {
        $("#load-header").load("../static/page-parts/header.html");
        $("#load-footer").load("../static/page-parts/footer.html");
      });
    </script>
  </head>
  <body>
    <div id="load-header"></div>
    <section class="cid-sFzFvgBfc0">
      <div class="container">
        <div class="scnt-heading">
          <h4 class="align-center mb-5 display-2">
            <strong>Get Started</strong>
          </h4>
        </div>
        <div class="row mt-4">
          <div class="item features-image сol-12 col-md-6 col-lg-4">
            <div class="item-wrapper">
              <div class="item-img">
                <img src="../static/images/mbr-816x544.jpg" alt="#" />
              </div>
              <div class="item-content">
                <h5 class="display-5">
                  <strong>Market Analysis</strong>
                </h5>
                <p class="mt-3 display-7">
                  Die Market Analysis führen wir mehrfach täglich durch um mögliche Aktientrends frühzeitig zu erkennen und unseren Kunden schnellstmöglich zu einer Kaufs oder Verkaufsentscheidung zu raten.
                </p>
              </div>
              <div class="mbr-section-btn item-footer mt-2">
                <a href="#" class="btn btn-primary display-4" target="_blank">Read More</a>
              </div>
            </div>
          </div>
          <div class="item features-image сol-12 col-md-6 col-lg-4">
            <div class="item-wrapper">
              <div class="item-img">
                <img src="../static/images/mbr-1-816x544.jpg" alt="#" />
              </div>
              <div class="item-content">
                <h5 class="display-5">
                  <strong>Margin Trading</strong>
                </h5>
                <p class="mt-3 display-7">
                  Margin Trading ist besser bekannt als Trading mit Hebel. Es können mit dem eingesetzten Kapital weitaus höhere Gewinne aber auch höhere Verluste erzielt werden.
                </p>
              </div>
              <div class="mbr-section-btn item-footer mt-2">
                <a href="#" class="btn btn-primary display-4" target="_blank">Read More</a>
              </div>
            </div>
          </div>
          <div class="item features-image сol-12 col-md-6 col-lg-4">
            <div class="item-wrapper">
              <div class="item-img">
                <img src="../static/images/mbr-816x524.jpg" alt="#" />
              </div>
              <div class="item-content">
                <h5 class="display-5">
                  <strong>Stable Income</strong>
                </h5>
                <p class="mt-3 display-7">
                  Idk ob das weg sollte
                </p>
              </div>
              <div class="mbr-section-btn item-footer mt-2">
                <a href="#" class="btn btn-primary display-4" target="_blank">Read More</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="header14 cid-sFzz5E692j">
      <div class="container">
        <div class="row justify-content-center align-items-center">
          <div class="col-12 col-md-6 image-wrapper">
            <img src="../static/images/finanzbild.jpg" alt="#" />
          </div>
          <div class="col-12 col-md">
            <div class="text-wrapper">
              <h1 class="mb-3 display-2">
                <strong>Was ist FID€O?</strong>
              </h1>
              <p class="display-7">
                Mit FID€O kann man den aktuellen Aktienmarkt einsehen und sich seine Favoriten in seinem Kundenkonto hinterlegen. 
                Mit einem Abonnement ist es möglich Vorhersagen zu Aktien zu erhalten, sowie eine Risikoanalyse in seinem Account zu hinterlegen. 
                Mit dieser ist es möglich Aktien auf Grund seiner Risikobereitschaft angezeigt zu bekommen.
                <br /><br />
                Das FID€O - Abonnement kann durch ein monatliches Entgelt abgeschlossen werden.
                <br />
              </p>
              <div class="mbr-section-btn mt-3">
                <a class="btn btn-primary display-4" href="#pricing">Read More</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="team1 cid-sFzErVWEaH">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12">
            <h3 class="align-center mb-5 display-2">
              <strong>Professional Team</strong>
            </h3>
          </div>
          <div class="col-sm-6 col-lg-3">
            <div class="card-wrap">
              <div class="image-wrap">
                <img src="../static/images/image_2.png" alt="#"/>
              </div>
              <div class="content-wrap">
                <h5 class="align-center m-0 display-5">
                  <strong>Adrian Setz</strong>
                </h5>
                <h6 class="align-center mb-3 display-4">
                  <strong>Chief Executive Officer (CEO)</strong>
                </h6>
                <p class="align-center display-7">
                  Adrian ist der Chef unseres jungen Startups. Er triff die wichtigen Entscheidungen für uns und hält somit auch den Kopf für und hin.
                </p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-3">
            <div class="card-wrap">
              <div class="image-wrap">
                <img src="../static/images/image_1.png" alt="#"/>
              </div>
              <div class="content-wrap">
                <h5 class="align-center m-0 display-5">
                  <strong>Lars Kurschilgen</strong>
                </h5>
                <h6 class="align-center mb-3 display-4">
                  <strong>Chief Financial Officer (CFO)</strong>
                </h6>
                <p class="align-center display-7">
                  Lars kümmert sich gerne ums Geld. Egal ob die Finanzen der Firma oder die der Anleger, er kümmert sich darum, die wichtigen Infos der Aktienkurse zu beschaffen um das meiste aus dem Kapital zu holen. Wenn Lucas mal wieder die neueste Hardware in unseren Servern haben will, muss er erstmal an Lars vorbei.
                </p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-3">
            <div class="card-wrap">
              <div class="image-wrap">
                <img src="../static/images/image_5.png" alt="#"/>
              </div>
              <div class="content-wrap">
                <h5 class="align-center m-0 display-5">
                  <strong>Lucas Wätzig</strong>
                </h5>
                <h6 class="align-center mb-3 display-4">
                  <strong>Chief Operating Officer (COO)</strong>
                </h6>
                <p class="align-center display-7">
                  Lucas ist unser Programmierass. Wenn etwas nicht läuft beschweren sich alle bei ihm und er macht die nächste Nacht durch um alles wieder auf den neusten Stand zu bringen. 
                </p>
              </div>
            </div>
          </div>

          <div class="col-sm-6 col-lg-3">
            <div class="card-wrap">
              <div class="image-wrap">
                <img src="../static/images/image_3.png" alt="#" />
              </div>
              <div class="content-wrap">
                <h5 class="align-center m-0 display-5">
                  <strong>Nicho Link</strong>
                </h5>
                <h6 class="align-center mb-3 display-4">
                  <strong>Chief Techonology Officer (CTO)</strong>
                </h6>
                <p class="align-center display-7">
                  Nicho steht Lucas zur Seite. Sollte die Technik streiken ist er stets zur Stelle um mit Lucas eine Lösung zu finden.
                </p>
              </div>
            </div>
          </div>

          <div class="col-sm-6 col-lg-3">
            <div class="card-wrap">
              <div class="image-wrap">
                <img src="../static/images/image_4.png" alt="#" />
              </div>
              <div class="content-wrap">
                <h5 class="align-center m-0 display-5">
                  <strong>Alex Paul</strong>
                </h5>
                <h6 class="align-center mb-3 display-4">
                  <strong>Chief Content Officer (CCO)</strong>
                </h6>
                <p class="align-center display-7">
                  Alex kümmert sich um die Unternehmenskommunikation. Er holt sich die Infos die er braucht um Präsentationen für Adrian vorzubereiten oder überlegt sich wie wir die Website schöner gestalten können.
                </p>
              </div>
            </div>
          </div>

          <div class="col-sm-6 col-lg-3">
            <div class="card-wrap">
              <div class="image-wrap">
                <img src="../static/images/image_6.png" alt="#"/>
              </div>
              <div class="content-wrap">
                <h5 class="align-center m-0 display-5">
                  <strong>Jan Wolter</strong>
                </h5>
                <h6 class="align-center mb-3 display-4">
                  <strong>Chief Knowledge Officer (CKO)</strong>
                </h6>
                <p class="align-center display-7">
                  Jan ist stets bemüht all unser Wissen zusammenzutragen um neue Mitarbeiter einarbeiten zu können oder für einen Krankheitsfall gerüstet zu sein und einspringen zu können.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="content4 cid-sFzIdnt1ra" id="pricing">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-12 col-lg-10">
            <h3 class="align-center mb-4 display-2">
              <strong>Our Pricing Plan</strong>
            </h3>
          </div>
        </div>
      </div>
    </section>

    <section class="pricing2 cid-sFzDdjoEIw">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-md-6 align-center col-lg-3">
            <div class="plan">
              <div class="plan-header">
                <h6 class="mb-3 display-5">
                  <strong>Monthly</strong>
                </h6>
                <div class="plan-price">
                  <p class="price m-0 display-2">
                    <strong>14,99 €</strong>
                  </p>
                  <p class="price-term mb-3 display-7">
                    <strong>Per month</strong>
                  </p>
                </div>
              </div>
              <div class="plan-body">
                <div class="plan-list mb-4">
                  <ul class="list-group list-group-flush display-7">
                    <li class="list-group-item">Market Analysis</li>
                    <li class="list-group-item">Margin Trading</li>
                    <li class="list-group-item">Stable Income</li>
                  </ul>
                </div>
                <div class="plan-footer text-center">
                  <a href="#" class="btn btn-primary-outline display-4">Get started</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 align-center col-lg-3">
            <div class="plan">
              <div class="plan-header">
                <h6 class="mb-3 display-5">
                  <strong>Yearly</strong>
                </h6>
                <div class="plan-price">
                  <p class="price m-0 display-2">
                    <strong>164,99 €</strong>
                  </p>
                  <p class="price-term mb-3 display-7">
                    <strong>Per year</strong>
                  </p>
                </div>
              </div>
              <div class="plan-body">
                <div class="plan-list mb-4">
                  <ul class="list-group list-group-flush display-7">
                    <li class="list-group-item">Market Analysis</li>
                    <li class="list-group-item">Margin Trading</li>
                    <li class="list-group-item">Stable Income</li>
                  </ul>
                </div>
                <div class="plan-footer text-center">
                  <a href="#" class="btn btn-primary-outline display-4">Get started</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 align-center col-lg-3">
            <div class="plan">
              <div class="plan-header">
                <h6 class="mb-3 display-5">
                  <strong>Lifetime</strong>
                </h6>
                <div class="plan-price">
                  <p class="price m-0 display-2">
                    <strong>649,99 €</strong>
                  </p>
                  <p class="price-term mb-3 display-7">
                    <strong>One time</strong>
                  </p>
                </div>
              </div>
              <div class="plan-body">
                <div class="plan-list mb-4">
                  <ul class="list-group list-group-flush display-7">
                    <li class="list-group-item">Market Analysis</li>
                    <li class="list-group-item">Margin Trading</li>
                    <li class="list-group-item">Stable Income</li>
                  </ul>
                </div>
                <div class="plan-footer text-center">
                  <a href="#" class="btn btn-primary-outline display-4">Get started</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 align-center col-lg-3">
            <div class="plan">
              <div class="plan-header">
                <h6 class="mb-3 display-5">
                  <strong>Free trial</strong>
                </h6>
                <div class="plan-price">
                  <p class="price m-0 display-2">
                    <strong>0,00 €</strong>
                  </p>
                  <p class="price-term mb-3 display-7">
                    <strong>Test it for a week</strong>
                  </p>
                </div>
              </div>
              <div class="plan-body">
                <div class="plan-list mb-4">
                  <ul class="list-group list-group-flush display-7">
                    <li class="list-group-item">Market Analysis</li>
                    <li class="list-group-item">Margin Trading</li>
                    <li class="list-group-item">Stable Income</li>
                  </ul>
                </div>
                <div class="plan-footer text-center">
                  <a href="#" class="btn btn-primary-outline display-4">Get started</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="contacts4 cid-sFAyMcKwph">
      <div class="container">
        <div class="row align-items-center justify-content-center">
          <div class="text-content col-12 col-md-6">
            <h2 class="display-2">
              <strong>Follow Us</strong>
            </h2>
            <p class="display-7">
              Auf den verschiedenen Social Media Platformen zeigen wir gerne wie viel Spaß man bei der Arbeit haben kann. Folgt uns gerne wenn ihr uns besser kennenlernen wollt.<br>
              Zudem bleiben unsere Follower stets Up-to-Date was die neuesten Features an geht.<br />
            </p>
          </div>
          <div class="icons d-flex align-items-center col-12 col-md-6 justify-content-end mt-md-0 mt-2 flex-wrap">
            <a href="https://twitter.com/elonmusk?t=ttXDPbL_0MuNpcdoPZypqQ&s=09" target="_blank">
              <span class="socicon-twitter socicon mbr-iconfont mbr-iconfont-social"></span>
            </a>
            <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ?autoplay=1" target="_blank">
              <span class="socicon-facebook socicon mbr-iconfont mbr-iconfont-social"></span>
            </a>
            <a href="https://instagram.com/thelabs_and_wienerdogs?igshid=YmMyMTA2M2Y=" target="_blank">
              <span class="socicon-instagram socicon mbr-iconfont mbr-iconfont-social"></span>
            </a>
          </div>
        </div>
      </div>
    </section>

    <section class="contacts2 cid-sFzIA7KGYz">
      <div class="container">
        <div class="section-head" >
          <h3 class="align-center mb-0 display-2" >
            <strong>Contacts</strong>
          </h3>
        </div>
        <div class="row justify-content-center mt-4">
          <div class="card col-12 col-md-6" >
            <div class="card-wrapper">
              <div class="image-wrapper">
                <span class="mbr-iconfont mobi-mbri-phone mobi-mbri"></span>
              </div>
              <div class="text-wrapper">
                <h6 class="mb-1 display-5">
                  <strong>Phone</strong>
                </h6>
                <p class="display-7">
                  <a href="tel:+1727160941" class="text-primary">(+49) 172 7187420</a>
                </p>
              </div>
            </div>
          </div>
          <div class="card col-12 col-md-6">
            <div class="card-wrapper">
              <div class="image-wrapper">
                <span class="mbr-iconfont mobi-mbri-letter mobi-mbri"></span>
              </div>
              <div class="text-wrapper">
                <h6 class="mb-1 display-5">
                  <strong>Email</strong>
                </h6>
                <p class="display-7">
                  <a href="#" class="text-primary">fideo@softwareexcellence.de</a>
                </p>
              </div>
            </div>
          </div>
          <div class="card col-12 col-md-6">
            <div class="card-wrapper">
              <div class="image-wrapper">
                <span class="mbr-iconfont mobi-mbri-globe mobi-mbri"></span>
              </div>
              <div class="text-wrapper">
                <h6 class="mb-1 display-5">
                  <strong>Address</strong>
                </h6>
                <p class="display-7">Am Teichmann 18, 61525 Buxtehude</p>
              </div>
            </div>
          </div>
          <div class="card col-12 col-md-6">
            <div class="card-wrapper">
              <div class="image-wrapper">
                <span class="mbr-iconfont mobi-mbri-bulleted-list mobi-mbri"></span>
              </div>
              <div class="text-wrapper">
                <h6 class="mb-1 display-5">
                  <strong>Working Hours</strong>
                </h6>
                <p class="display-7">Mo - Mi: 9:00 - 11:00</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <div id="load-footer"></div>

  </body>
</html>