{% extends 'base.html' %}
{% block content%}
<section id="asndioashd">
  <div class="login-form" style="border: 10px solid pink;">
    <div class="login-card-body" style="border:1px solid red">
      <img src="../static/images/login_icon.svg">
      <h5 class="display-5 align-center">Login</h5>
      <div id="login-error-msg-holder">
        <p id="error-msg">Invalid username <span id="error-msg-second-line">and / or password</span></p>
      </div>
      <div class="form-body" id="login-field">
        <div class="input-box">
          <input type="text" name="username" id="username-field" required="required">
          <span class="display-5">Username</span>
          <i></i>
        </div>
        <div class="input-box">
          <input type="text" name="password" id="username-field" required="required">
          <span class="display-5">Password</span>
          <i></i>
        </div>
        <div class="login-links">
          <a href="#">Forgot password</a>
          <a href="#">Register</a>
        </div>
      </div>
      <div class="form-footer">
        <button type="button" class="login-btn" id="login-form-submit" onclick="closePopup()">Login</button>
      </div>
    </div>
  </div>
</section>
{%endblock%}