{% extends 'base.html' %}
{% block content %}

<section class="cid-sFzz5E692j">
  <div class="container">
    <h1 class="display-2 align-center">Coming soon</h1>
  </div>
</section>

<section class="cid-sFzz5E692j">
  <div class="container" style="border:1px solid black">
    <div class="sctn-heading">
      <h4 class="align-center mb-5 display-2">
        <strong>Login / Register</strong>
      </h4>
    </div>
    <div class="login-card">
      <div class="login-card-header" style="border: 1px solid black;">
        <h5 class="display-5 align center">Login</h5>
        <div class="login-error-msg-holder">
          <p class="display-7 align-center"><strong>Invalid username</p>
          <p class="display-7 align-center">and / or password</p>
        </div>
      </div>
      <div class="login-card-body">
        <div class="form-holder">
          <input type="text" name="username" id="username-field" required="required">
          <span class="display-7">Username</span>
        </div>
        <div class="form-holder">
          <input type="password" name="password" id="password-field" required="required">
          <span class="display-7">Password</span>
        </div>
        <div class="links-holder">
          <a href="">Forgot Password</a>
          <a href="">Register</a>
        </div>
      </div>
      <div class="login-card-footer" style="border: 1px solid yellow;">
        <button class="login-btn" id="login-form-submit" type="button">Login</button>
      </div>
    </div>
  </div>
</section>


{%endblock%}