<!DOCTYPE html>
<html lang="en">

<head>
  <meta lang="en" />
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
  <meta name="description" content="" />

  <title>Login</title>
  <link rel="shortcut icon" href="../static/images/logo.png" type="image/x-icon" />
  <link rel="stylesheet" href="../static/css/bootstrap.min.css" />
  <link rel="stylesheet" href="../static/css/bootstrap-grid.min.css" />
  <link rel="stylesheet" href="../static/css/bootstrap-reboot.min.css" />
  <link rel="stylesheet" href="../static/css/dropdown-style.css" />
  <link rel="stylesheet" href="../static/css/socicon-styles.css" /> <!-- style for social media icons-->
  <link rel="stylesheet" href="../static/css/icons2-style.css" /> <!-- style for other icons-->
  <link rel="stylesheet" href="../static/css/theme-style.css" />
  <link rel="stylesheet" href="../static/css/popup.css" />
  <link rel="stylesheet" href="../static/css/login-window.css" />
  <link rel="preload"
    href="https://fonts.googleapis.com/css?family=Jost:100,200,300,400,500,600,700,800,900,100i,200i,300i,400i,500i,600i,700i,800i,900i&display=swap"
    as="style" onload="this.onload=null;this.rel='stylesheet'" />
  <noscript>
    <link rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Jost:100,200,300,400,500,600,700,800,900,100i,200i,300i,400i,500i,600i,700i,800i,900i&display=swap" />
  </noscript>
  <link rel="stylesheet" href="../static/css/style.css" type="text/css" />
  <link rel="icon" href="../static/images/logo_icon_white.svg" />
</head>

<body>
  <section class="menu menu2 cid-sFCw1qGFAI" once="menu">
    <nav class="navbar navbar-dropdown navbar-expand-lg">
      <div class="container">
        <div class="navbar-brand">
          <span class="navbar-caption-wrap">
            <a class="navbar-caption text-black display-7" href="{%url 'index' %}"><img
                src="../../static/images/logo_no_text.svg" style="width: 120px; height:auto;" /></a>
          </span>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav nav-dropdown" data-app-modern-menu="true">
            <li class="nav-item">
              <a class="nav-link link text-black text-primary display-4" href="{%url 'index' %}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link link text-black text-primary display-4" href="{%url 'fideo' %}">FIDEO</a>
            </li>
            <li class="nav-item">
              <a class="nav-link link text-black text-primary display-4" href="#">Mein Portfolio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link link text-black text-primary display-4" href="{%url 'aboutUs' %}">About Us</a>
            </li>
          </ul>

          <div class="navbar-buttons mbr-section-btn">
            <a class="btn btn-primary display-4" href="{%url 'login' %}">Login</a>
          </div>
        </div>
      </div>
    </nav>
  </section>

  <section id="asndioashd">
    <div class="login-form" style="border: 10px solid pink;">
      <div class="login-card-body" style="border:1px solid red">
        <img src="../static/images/login_icon.svg">
        <h5 class="display-5 align-center">Login</h5>
        <div id="login-error-msg-holder">
          <p id="error-msg">Invalid username <span id="error-msg-second-line">and / or password</span></p>
        </div>
        <div class="form-body" id="login-field">
          <div class="input-box">
            <input type="text" name="username" id="username-field" required="required">
            <span class="display-5">Username</span>
            <i></i>
          </div>
          <div class="input-box">
            <input type="text" name="password" id="username-field" required="required">
            <span class="display-5">Password</span>
            <i></i>
          </div>
          <div class="login-links">
            <a href="#">Forgot password</a>
            <a href="#">Register</a>
          </div>
        </div>
        <div class="form-footer">
          <button type="button" class="login-btn" id="login-form-submit" onclick="closePopup()">Login</button>
        </div>
      </div>
    </div>
  </section>

  
</body>

</html>