{% extends "base.html" %}
{% block content %}

<style>
    #slider-value {
        border: 1px solid black;
        text-align: center;
        border-radius: 0.5em;
        padding: 1em;
        margin-top: 1em;
    }

    .form-sctn {
        display: flex;
        flex-flow: column;
        align-items: center;

    }

    .range-slider {
        -webkit-appearance: none;
        width: 50%;
    }
</style>

<section class="cid-sFzFvgBfc0">
    <button class="btn btn-primary" onclick="addItem()">Submit</button>
    
    <div id="reload">
        {{risk_level}}
    </div>

</section>

<section class="cid-sFzFvgBfc0">
    <div class="container">
        <div class="sctn-heading">
            <h4 class="align-center mb-5 display-2">
                <strong>Risk Analysis</strong>
            </h4>
            <p class="align-center mb-5 display-7">
                Stell dein Risikolevel ein:
            </p>
        </div>
        <div class="form-sctn">
            <input id="slider" class="form-range range-slider" min="0" max="2" type="range" oninput="outputUpdate(value)">
            <p id="slider-value">Ich habe keine Ahnung</p>
        </div>
    </div>
    <div class="container">
        <div class="sctn-heading">
            <div class="container mt-5">
                <h4 class="align-center mb-5 display-2">
                    <strong>Aktien passend zum Risikolevel</strong>
                </h4>
            </div>
        </div>
        <div class="row mt-4" id="view_container">
            {%for share in share_list%}
            <div class="item features-image col-6 col-6">
                <div class="item-wrapper">
                    <div class="item-img">
                    </div>
                    <div class="item-content">
                        <h5 class="display-5">
                            <strong>{{share.share_name}}</strong>
                        </h5>
                        <ul class="display-7">
                            <li> Last Share Price : </li>
                            <li> Sector : </li>
                            <li> Market capitalization : </li>
                            <li> Share Volume : </li>
                        </ul>
                    </div>
                </div>
            </div>
            {%endfor%}
        </div>
    </div>
</section>




<script>
    function addItem() {
        let itemName = prompt("Neues Element")
        let csrf_token = "{{csrf_token}}"
        let formData = new FormData();
        formData.append("itemName" , itemName);
        formData.append("csrfmiddlewaretoken" , csrf_token)
        fetch("/risk-analysis/" , {
            method : "POST",
            body : formData
        });
        $('#reaload').load(location.href + ' #reload')
    }
    var values = ["Ich mag mein Geld", "Ich habe keine Ahnung", "Fuck money"]
    function outputUpdate(val) {
        var output = document.getElementById("slider-value");
        output.innerHTML = values[val]
    };
    
    $(document).ready(function(){
        $('#slider').change(function(){
            var slider_value = $(this).val();
            $.get("/risk_analysis_view" , {slider_value : slider_value}, function(data){
                $("#view_container").html(data);
            });
        });
    });
</script>

</section>

{%endblock %}