.add-btn{
  border: 1px solid black;
  float: right;
  border-radius: 50%;
  background-color: white;
  box-shadow: 5px 5px;
}

.add-btn:hover{
  border: 1px solid transparent;
  background-color: #2E8B57;
  color: white;
}