<!DOCTYPE html>
<html lang="en">
<head>
    <meta lang="en" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1"/>
    <link rel="shortcut icon" href="../static/images/logo.png" type="image/x-icon"/>
    <meta name="description" content="" />

    <title>Login</title>
    <link rel="stylesheet" href="../static/web/assets/icons2/style.css" /> <!-- style for other icons-->
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap-grid.min.css" />
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap-reboot.min.css" />
    <link rel="stylesheet" href="../static/dropdown/css/style.css" />
    <link rel="stylesheet" href="../static/socicon/css/styles.css" /> <!-- style for social media icons-->
    <link rel="stylesheet" href="../static/theme/css/style.css" />
    <link rel="stylesheet" href="../static/add_styles/login1.css" />
    <link rel="stylesheet" href="../static/add_styles/popup-windows/login-window.css" /> <!-- style for login screen-->
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Jost:100,200,300,400,500,600,700,800,900,100i,200i,300i,400i,500i,600i,700i,800i,900i&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'" />
    <noscript ><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Jost:100,200,300,400,500,600,700,800,900,100i,200i,300i,400i,500i,600i,700i,800i,900i&display=swap" /></noscript>
    <link rel="stylesheet" href="../static/styles/css/style.css" type="text/css" />
    <link rel="icon" href="../static/images/logo_icon_white.svg" />
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <script>
      $(function() {
        $("#load-header").load("../static/page-parts/header.html");
      });
    </script>
</head>
<body>
  <section id="lajouhasDIU">
    <div id="load-header"></div>
  </section>

  <section id="asndioashd">
      <div class="login-form" style="border: 10px solid pink;">
        <div class="login-card-body" style="border:1px solid red">
          <img src="../static/images/login_icon.svg">
          <h5 class="display-5 align-center">Login</h5>
          <div id="login-error-msg-holder">
              <p id="error-msg">Invalid username <span id="error-msg-second-line">and / or password</span></p>
          </div>
          <div class="form-body" id="login-field">
            <div class="input-box">
              <input type="text" name="username" id="username-field" required="required">
              <span class="display-5">Username</span>
              <i></i>
            </div>
            <div class="input-box">
              <input type="text" name="password" id="username-field" required="required">
              <span class="display-5">Password</span>
              <i></i>
            </div>
            <div class="login-links">
              <a href="#">Forgot password</a>
              <a href="#">Register</a>
            </div>
          </div>
            <div class="form-footer">
              <button type="button" class="login-btn" id="login-form-submit" onclick="closePopup()">Login</button>
            </div>
        </div>
      </div>
  </section>
</body>
</html>


